{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}


{% block content %}
<style>
    .card{
    margin-left:auto;
    margin-right:auto;}
</style>

<div class="card" style="width: 28rem; margin-left:auto;margin-right:auto; ">
  <div class="card-body ">
    <h2 class="card-title mb-4 text-center">Change Password</h2>

<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button class="btn btn-info mb-3">Change Password</button>
</form>
</div>

</div>

{% endblock %}