
{% extends 'base.html' %}

{% block content %}


<h1>Posts</h1>
<hr>


 {% for post in object_list %}
<div class="list-group-item align-items-start col-lg-8 center">

    <div class="d-flex w-100 justify-content-between">
        <a href="{% url 'article-detail' post.pk  %}" >
      <h5 class="mb-1">{{post.title}}</h5></a>
      <small class="text-muted">{{post.post_date}}</small>
    </div>
    <p class="mb-1"><a href="{% url 'category' post.category %}">{{post.category}}</a> - {{post.title_tag}} - {{post.author.first_name}} {{post.author.last_name}}</p>
    <br>
    <p class="mb-1">{{post.body|slice:"200"|safe}}... <a href="{% url 'article-detail' post.pk  %}" >Read More</a></p>
    {% if user.is_authenticated %}
{% if user.id == post.author.id %}

     <a href="{% url 'update_post' post.pk  %}" >Edit Post</a><br>
    {% endif %}
    {% endif %}
    <small class="text-muted">{{post.author.email}}</small>

</div><br>
 {% endfor %}


{% endblock %}